@font-face {
  font-family: "QuicksandR";
  src: url(../res/font/Quicksand/Quicksand-Regular.ttf);
}

@font-face {
  font-family: "Rainmaker";
  src: url(../res/font/Rainmaker/RainmakerScript-Regular.otf);
}

html {
  scroll-behavior: smooth;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

/*Style body*/

body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  background-color: #f0f0f3;
}

@media (max-width: 1390px) {
  body {
    align-items: unset;
  }
}

/*Grille + nav*/

.grid {
  margin-top: 2.051282051282051vh;
  margin-bottom: 2.051282051282051vh;
  display: grid;
  grid-template-columns: repeat(12, 75px);
  grid-gap: 0.8333333333333334vw;
}

@media (max-width: 1390px) {
  .grid {
    grid-template-columns: repeat(8, 75px);
    grid-gap: 16px;
  }
}

@media (max-width: 710px) {
  .grid {
    grid-template-columns: repeat(5, 60px);
    grid-gap: 10px;
  }
}

@keyframes shadowFade {
  0% {
    box-shadow: 3.5px 3.5px 5px #aeaec070, -3.5px -3.5px 5px #ffffff;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: inset 3.5px 3.5px 5px #aeaec070, inset -3.5px -3.5px 5px #ffffff;
  }
}

@keyframes shadowFadeOut {
  0% {
    box-shadow: inset 3.5px 3.5px 5px #aeaec070, inset -3.5px -3.5px 5px #ffffff;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 3.5px 3.5px 5px #aeaec070, -3.5px -3.5px 5px #ffffff;
  }
}

.nav {
  position: fixed;
  z-index: 1;
  background-color: #f0f0f3;
  top: 50px;
  left: 50px;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 3.5px 3.5px 5px #aeaec070, -3.5px -3.5px 5px #ffffff;
  animation: shadowFadeOut 0.05s;
}

@media (max-width: 710px) {
  .nav {
    top: 25px;
    left: 25px;
    width: 25px;
    height: 25px;
    padding: 15px;
    border-radius: 10px;
  }
}

.nav:hover {
  animation: shadowFade 0.05s;
  box-shadow: inset 3.5px 3.5px 5px #aeaec070, inset -3.5px -3.5px 5px #ffffff;
}

.icons {
  display: none;
}

@media (max-width: 1100px) {
  .icons {
    display: flex;
    top: 20%;
    position: fixed;
    height: 50%;
    flex-direction: column;
    margin-left: 75px;
    justify-content: space-around;
  }
}

@media (max-width: 710px) {
  .icons {
    margin-left: 25px;
  }
}

.navtitles {
  top: 20%;
  position: fixed;
  height: 60%;
  display: flex;
  flex-direction: column;
  margin-left: 34px;
  justify-content: space-around;
}

@media (max-width: 1100px) {
  .navtitles {
    display: none;
  }
}

.backcard {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
  background-color: #f0f0f3;
  box-shadow: 3.5px 3.5px 5px #aeaec070, -3.5px -3.5px 5px #ffffff;
}

.wrapper {
  top: 0;
  position: absolute;
  display: flex;
  margin-left: 50%;
  margin-right: 50%;
  transform: translate(-50%);
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
}

/*Main*/

p {
  grid-column: 2 / 7;
  grid-row: -11;
  padding: 50px;
  font-family: "QuicksandR";
  font-size: 30px;
  color: #303030;
  font-weight: 600;
  border-radius: 14px;
  box-shadow: inset 5px 5px 5px #aeaec070, inset -5px -5px 5px #ffffff;
}

@media (max-width: 1390px) {
  p {
    grid-column: 2 / 5;
    font-size: 16px;
    margin: 15px;
    padding: 30px;
  }
}

@media (max-width: 710px) {
  p {
    grid-column: 1 / 6;
    grid-row: -10;
  }
}

.maintitle {
  grid-column: 4 / 10;
  grid-row: -12;
  margin-top: 60px;
  margin-bottom: 120px;
  align-self: center;
  top: 60px;
}

@media (max-width: 1390px) {
  .maintitle {
    grid-column: 3 / 7;
    grid-row: -12;
    align-self: center;
    margin-bottom: 100px;
    width: 100%;
  }
}

@media (max-width: 710px) {
  .maintitle {
    grid-column: 1 / 6;
    grid-row: -11;
    width: 200px;
    margin-bottom: 60px;
  }
}

@media (max-width: 710px) {
  .titre {
    grid-column: 1 / 6;
    grid-row: -11;
    width: 100%;
    margin-bottom: 60px;
  }
}

h2 {
  font-family: "QuicksandR";
  font-size: 40px;
  color: #303030;
  font-weight: 600;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 1390px) {
  h2 {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
  }
}

h3 {
  font-family: "QuicksandR";
  font-size: 20px;
  font-style: italic;
  font-weight: normal;
  color: #707070;
  margin-top: 17px;
  margin-bottom: 40px;
}

@media (max-width: 1390px) {
  h3 {
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
}

.image {
  width: 350px;
  height: 350px;
  margin: 15px;
  margin-top: 22px;
  border-radius: 14px;
  box-shadow: 5px 5px 7px #aeaec070, -5px -5px 7px #ffffff;
}

@media (max-width: 1390px) {
  .image {
    width: 202px;
    height: 202px;
  }
}

@media (max-width: 710px) {
  .image {
    width: 150px;
    height: 150px;
  }
}

.image:hover {
  box-shadow: 13px 13px 13px #aeaec070, -13px -13px 13px #ffffff;
  transition: cubic-bezier(0, 0, 0, 1);
  border-radius: 25px;
  transition-duration: 0.2s;
}

.image:not(:hover) {
  box-shadow: 5px 5px 7px #aeaec070, -5px -5px 7px #ffffff;
  transition: cubic-bezier(1, 0, 0, 0);
  border-radius: 14px;
  transition-duration: 0.2s;
}

.card9 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 7 / 12;
  grid-row: -11 / -9;
  border-radius: 14px;
  box-shadow: 10px 10px 10px #aeaec070, -10px -10px 10px #ffffff;
}
@media (max-width: 1390px) {
  .card9 {
    grid-column: 5 / 8;
    margin: 10px;
  }
}

@media (max-width: 710px) {
  .card9 {
    grid-column: 2 / 5;
    grid-row: -9;
  }
}

.card1 {
  top: 0;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 7;
  grid-row: -10 / -8;
  border-radius: 14px;
  box-shadow: 10px 10px 10px #aeaec070, -10px -10px 10px #ffffff;
}

@media (max-width: 1390px) {
  .card1 {
    grid-column: 2 / 5;
    margin: 10px;
  }
}

@media (max-width: 710px) {
  .card1 {
    grid-column: 2 / 5;
    grid-row: -8;
  }
}

.card2 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 7 / 12;
  grid-row: -9 / -7;
  border-radius: 14px;
  box-shadow: 10px 10px 10px #aeaec070, -10px -10px 10px #ffffff;
}
@media (max-width: 1390px) {
  .card2 {
    grid-column: 5 / 8;
    margin: 10px;
  }
}

@media (max-width: 710px) {
  .card2 {
    grid-column: 2 / 5;
    grid-row: -7;
  }
}

.card3 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 7;
  grid-row: -8 / -6;
  border-radius: 14px;
  box-shadow: 10px 10px 10px #aeaec070, -10px -10px 10px #ffffff;
}
@media (max-width: 1390px) {
  .card3 {
    grid-column: 2 / 5;
    margin: 10px;
  }
}

@media (max-width: 710px) {
  .card3 {
    grid-column: 2 / 5;
    grid-row: -6;
  }
}

.card4 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 7 / 12;
  grid-row: -7 / -5;
  border-radius: 14px;
  box-shadow: 10px 10px 10px #aeaec070, -10px -10px 10px #ffffff;
}
@media (max-width: 1390px) {
  .card4 {
    grid-column: 5 / 8;
    margin: 10px;
  }
}

@media (max-width: 710px) {
  .card4 {
    grid-column: 2 / 5;
    grid-row: -5;
  }
}

.card5 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 7;
  grid-row: -6 / -4;
  border-radius: 14px;
  box-shadow: 10px 10px 10px #aeaec070, -10px -10px 10px #ffffff;
}
@media (max-width: 1390px) {
  .card5 {
    grid-column: 2 / 5;
    margin: 10px;
  }
}

@media (max-width: 710px) {
  .card5 {
    grid-column: 2 / 5;
    grid-row: -4;
  }
}

.card6 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  grid-column: 7 / 12;
  grid-row: -5 / -3;
  border-radius: 14px;
  box-shadow: 10px 10px 10px #aeaec070, -10px -10px 10px #ffffff;
}
@media (max-width: 1390px) {
  .card6 {
    grid-column: 5 / 8;
    margin: 10px;
  }
}

@media (max-width: 710px) {
  .card6 {
    grid-column: 2 / 5;
    grid-row: -3;
  }
}

.card7 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / 7;
  grid-row: -4 / -2;
  border-radius: 14px;
  box-shadow: 10px 10px 10px #aeaec070, -10px -10px 10px #ffffff;
}
@media (max-width: 1390px) {
  .card7 {
    grid-column: 2 / 5;
    margin: 10px;
  }
}

@media (max-width: 710px) {
  .card7 {
    grid-column: 2 / 5;
    grid-row: -2;
  }
}

.card8 {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 7 / 12;
  grid-row: -3 / -1;
  border-radius: 14px;
  box-shadow: 10px 10px 10px #aeaec070, -10px -10px 10px #ffffff;
}
@media (max-width: 1390px) {
  .card8 {
    grid-column: 5 / 8;
    margin: 10px;
  }
}

@media (max-width: 710px) {
  .card8 {
    grid-column: 2 / 5;
    grid-row: -1;
  }
}

/* POPUP */

iframe {
  border-radius: 14px;
  border: none;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 854px;
  height: 480px;
  box-shadow: 10px 10px 10px #aeaec070, -10px -10px 10px #ffffff;
}

@media (max-width: 1390px) {
  iframe {
    width: 640px;
    height: 360px;
    margin-top: 0;
  }
}

@media (max-width: 710px) {
  iframe {
    width: 256px;
    height: 144px;
  }
}

a {
  text-decoration: none;
}

.ajax-popup-link {
  text-align: center;
}

.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.pdf {
  width: 75%;
  height: 100vh;
}

.pdf2 {
  width: 75%;
  height: 75vh;
}

.logovg {
  position: fixed;
  bottom: 2.7vh;
  right: 2vw;
  height: 50px;
  z-index: 20;
  border-radius: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: none;
}
